# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.vscode
*.lib

# Executables
*.exe
*.out
*.app

data/.vcs/
*.o
*.exe

# Ignore object files and compiled binaries
obj/
*.o
*.out
Rift  # Ignore the final executable
*.log  # Ignore log files if any

.vscode/

data/random
data/suii

Rift